<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Weather Forecast</title>
</head>

<body>
    <div class="main">

        <center>
        <div class="input">
            <form method="post" action="/">
                <input type="text" name="city" placeholder="Stadt">
                <input type="submit" value="Los">
            </form>
        </div>
            </center>

        <hr style="color:#538cc6; margin-top:1em;" />

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>